/* Google Fonts*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Imports*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Downloads\/compass\.app\/Contents\/Resources\/lib\/ruby\/compass_1\.0\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Downloads\/compass\.app\/Contents\/Resources\/lib\/ruby\/compass_1\.0\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Downloads\/compass\.app\/Contents\/Resources\/lib\/ruby\/compass_1\.0\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Downloads\/compass\.app\/Contents\/Resources\/lib\/ruby\/compass_1\.0\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Downloads\/compass\.app\/Contents\/Resources\/lib\/ruby\/compass_1\.0\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Downloads\/compass\.app\/Contents\/Resources\/lib\/ruby\/compass_1\.0\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Downloads\/compass\.app\/Contents\/Resources\/lib\/ruby\/compass_1\.0\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Downloads\/compass\.app\/Contents\/Resources\/lib\/ruby\/compass_1\.0\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Downloads\/compass\.app\/Contents\/Resources\/lib\/ruby\/compass_1\.0\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
Typography
========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000333}}
p {
  font-size: 15px;
  line-height: 27px;
  padding-bottom: 15px;
  color: #414A52;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000342}}
h1 {
  font-size: 45px;
  font-weight: 300;
  line-height: 68px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000348}}
h2 {
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000354}}
h3 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #8A9097;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000361}}
h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 7px 0 65px 60px;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000367}}
h4:after {
  display: block;
  width: 30px;
  height: 2px;
  margin-top: 15px;
  content: '';
  background-color: #7AE2DE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000377}}
h5 {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  color: #414A52;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000386}}
.text-center {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000389}}
.bold-italic {
  font-weight: 600;
  font-style: italic;
}

/* Media Querie */
/* ==========================================================================
Waypoints
========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_waypoints\.scss}line{font-family:\000035}}
.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6,
.wp7,
.wp8,
.wp9,
.wp10 {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_waypoints\.scss}line{font-family:\0000317}}
.wp1 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_waypoints\.scss}line{font-family:\0000321}}
.wp2 {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_waypoints\.scss}line{font-family:\0000325}}
.wp3 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_waypoints\.scss}line{font-family:\0000329}}
.bounceInLeft,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUpD,
.fadeInLeft,
.fadeInRight,
.bounceInDown,
.fadeIn {
  visibility: visible;
}

/* ==========================================================================
Typography
========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000333}}
p {
  font-size: 15px;
  line-height: 27px;
  padding-bottom: 15px;
  color: #414A52;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000342}}
h1 {
  font-size: 45px;
  font-weight: 300;
  line-height: 68px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000348}}
h2 {
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000354}}
h3 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #8A9097;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000361}}
h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 7px 0 65px 60px;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000367}}
h4:after {
  display: block;
  width: 30px;
  height: 2px;
  margin-top: 15px;
  content: '';
  background-color: #7AE2DE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000377}}
h5 {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  color: #414A52;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000386}}
.text-center {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_typography\.scss}line{font-family:\0000389}}
.bold-italic {
  font-weight: 600;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\000036}}
a.text-link {
  color: #ffffff;
  margin-left: 30px;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\0000313}}
a.text-link:focus {
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\0000317}}
a.text-link:after {
  font-family: FontAwesome;
  content: "\f105";
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\0000324}}
a.text-link:hover {
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\0000326}}
a.text-link:hover:after {
  opacity: 1;
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\0000333}}
.btn.primary {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7AE2DE;
  padding: 20px;
  text-decoration: none;
  line-height: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\0000343}}
.btn.primary:hover {
  background-color: #71D5D2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\0000347}}
.btn.secondary {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #7AE2DE;
  border: 2px solid #7AE2DE;
  padding: 15px 20px;
  text-decoration: none;
  line-height: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\0000357}}
.btn.secondary:hover {
  color: #ffffff;
  background-color: #71D5D2;
  border-color: #71D5D2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\0000362}}
.btn.secondary:focus {
  color: #ffffff;
  background-color: #7AE2DE;
  border-color: #7AE2DE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_buttons\.scss}line{font-family:\0000369}}
.view-more {
  margin-top: 70px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_layout\.scss}line{font-family:\000035}}
.has-padding {
  padding: 125px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_layout\.scss}line{font-family:\000038}}
.has-padding-tall {
  padding: 160px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_layout\.scss}line{font-family:\0000311}}
.alternate-bg {
  background-color: #F4F6F9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_layout\.scss}line{font-family:\0000314}}
.t-backgroung {
  background-color: #414A52;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_layout\.scss}line{font-family:\0000317}}
.is-centered {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_layout\.scss}line{font-family:\0000322}}
.mainContainer {
  width: 100%;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/partials\/_layout\.scss}line{font-family:\0000329}}
.hero {
  width: 100%;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000314}}
body {
  background-color: #ffffff;
  verflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000320}}
html,
body {
  font-family: Raleway, Verdana, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #414A52;
  -webkit-text-size-adjust: 100%;
  /*fix for iOS*/
}

/* ==========================================================================
Main Nav
========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000342}}
.header {
  height: 114px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000346}}
.header__wrapper {
  position: relative;
  background-color: #ffffff;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000352}}
.header__wrapper .logo {
  display: inline-block;
  width: 341px;
  padding: 30px 0;
  text-align: center;
  border-bottom: solid 5px #7AE2DE;
  background-color: #414A52;
  position: relative;
  left: 0;
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000352}}
  .header__wrapper .logo {
    width: 341px;
  }
}
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000352}}
  .header__wrapper .logo {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000371}}
.header__wrapper .wrapperlogo {
  width: 341px;
  display: block;
  left: 0px;
  top: 0;
  z-index: 1;
  background: none;
  position: absolute;
  border-width: 114px 28px 0px 0px;
  border-style: solid;
  border-color: #414A52 transparent;
  display: block;
}
@media (min-width: 768px) and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000371}}
  .header__wrapper .wrapperlogo {
    display: block;
  }
}
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000371}}
  .header__wrapper .wrapperlogo {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000393}}
.header__wrapper .nav {
  margin-right: 60px;
  float: right;
  padding: 34px 0 33px;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000393}}
  .header__wrapper .nav {
    padding: 34px 0 33px;
    display: inline-block;
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\0000393}}
  .header__wrapper .nav {
    display: none;
    padding: 4px 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003110}}
.header__wrapper .nav__row {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003113}}
.header__wrapper .nav__list {
  font-size: 13px;
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-right: solid 1px #E5E7E9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003121}}
.header__wrapper .nav__list:last-child {
  border-right: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003125}}
.header__wrapper .nav__list a {
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
  text-decoration: none;
  color: #414A52;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003131}}
.header__wrapper .nav__list a:hover {
  color: #7AE2DE;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003134}}
.header__wrapper .nav__list a:before {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 2px;
  content: '';
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #7AE2DE;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003148}}
.header__wrapper .nav__list a:hover:before {
  visibility: visible;
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003157}}
.header__wrapper.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003167}}
.header__wrapper .is-visible {
  visibility: visible;
  opacity: 1;
}

/* ======================
Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003177}}
header.hero {
  position: relative;
  height: 500px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003182}}
header.hero .cell {
  background-position: center top;
  background-size: cover;
  height: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003188}}
header.hero .hero-bg {
  background: linear-gradient(to bottom, #414a55, rgba(0, 0, 0, 0));
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003192}}
header.hero .col {
  width: 90%;
  margin: 0 auto;
  padding: 6% 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003199}}
header.hero .hero-bg .hero-intro-text {
  margin-top: 60px;
  padding-top: 25px;
  text-align: center;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003205}}
header.hero .hero-bg .hero-intro-text p {
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003214}}
header.hero h1 {
  margin-bottom: 40px;
  color: #ffffff;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003219}}
header.hero h3 {
  font-weight: 300;
  margin-bottom: 45px;
  padding: 0 25%;
  color: #ffffff;
}

/* ==============================================
Programs
========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003230}}
.programs {
  width: 98%;
  margin: 0 auto;
  padding-left: .5%;
  padding-top: 140px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003236}}
.programs__col {
  width: 24.5%;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003236}}
  .programs__col {
    width: 24.5%;
  }
}
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003236}}
  .programs__col {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003251}}
.programs__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003262}}
.programs__item figure {
  display: table;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003266}}
.programs__item figure figcaption {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003271}}
.programs__item figure figcaption p {
  padding: 15px 15px 25px;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003275}}
.programs__item figure figcaption a {
  color: rgba(255, 255, 255, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003278}}
.programs__item figure figcaption a:hover {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003284}}
.programs__item figure:hover .overlay {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003290}}
.programs__item h2 {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003298}}
.programs__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003313}}
.programs__item .overlay {
  z-index: 99;
  width: 100%;
  height: 100%;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: rgba(122, 226, 222, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003323}}
.programs__item:hover {
  background-size: auto 110%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003330}}
.skillset {
  width: 97%;
  margin: 0px auto;
  padding-left: .5%;
  padding-top: 110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003336}}
.skillset .col {
  width: 49%;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003336}}
  .skillset .col {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003347}}
.skillset .col:last-child {
  margin-left: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003352}}
.skillset .bar-chart-wrapper {
  position: relative;
  margin-bottom: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003357}}
.skillset .bar-wrapper {
  background-color: #414A52;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003360}}
.skillset .bar-wrapper .bar {
  height: 10px;
  margin: 10px 0;
  background-color: #7AE2DE;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003367}}
.skillset .bar-chart-figure {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003371}}
.skillset .push-right {
  position: absolute;
  top: 0;
  right: 0;
}

/* ==========================================================================
Footer
========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003383}}
.footer p {
  font-size: 14px;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003390}}
.footer ul li {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003394}}
.footer ul li i {
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003397}}
.footer ul li a {
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003399}}
.footer ul li a:hover {
  color: #7AE2DE;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003408}}
.footer__nav {
  padding-top: 40px;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003411}}
.footer__nav ul.footer-primary-nav {
  display: inline-block;
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003415}}
.footer__nav ul.footer-primary-nav li {
  display: inline-block;
  margin-right: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003420}}
.footer__nav ul.footer-primary-nav li:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003427}}
.footer__nav ul.footer-share {
  display: inline-block;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003431}}
.footer__nav ul.footer-share > li {
  display: inline-block;
  margin-right: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003435}}
.footer__nav ul.footer-share > li:last-child {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/keplerf\/Desktop\/KeplerDEMO\/scss\/style\.scss}line{font-family:\00003446}}
.item4 {
  overflow: hidden;
  *zoom: 1;
}

/*# sourceMappingURL=style.css.map */
