/* Google Fonts*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Imports*/
@import 'compass';
@import 'compass/reset';
@import 'partials/typography';
@import 'partials/mixins';
@import 'partials/waypoints';
@import 'partials/colors';
@import 'partials/buttons';
@import 'partials/layout';

body{
    background-color: $color-white;
    verflow-x: hidden;

}

html,
body{
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: $color-slate;
    -webkit-text-size-adjust: 100%;
    /*fix for iOS*/
}






/* ==========================================================================
Main Nav
========================================================================== */
.header{
    height: 114px;
    display: block;

    &__wrapper{
        position: relative;
        background-color: $color-white;
          @include transition-property(all);
            @include transition-duration(.2s);

        .logo{
            display: inline-block;
            width:341px;
            padding: 30px 0;
            text-align: center;
            border-bottom: solid 5px $color-teal;
            background-color: $color-slate;
            position: relative;
            left: 0;
             z-index: 2;

            @include tablet{
                  width:341px
            }
             @include mobile{
                 width:100%;
            } 
        } // .logo

        .wrapperlogo{
            width:341px;
            display: block;
            left: 0px;
            top: 0;
            z-index: 1;
            background: none;
            position: absolute;
            border-width: 114px 28px 0px 0px;
            border-style: solid;
            border-color: $color-slate transparent;
            display: block;

            @include tablet{
                 display: block;

            }
             @include mobile{
                 display: none;
            }
        } //.wrapperlogo
        
        .nav{
            margin-right: 60px;
            float: right;
            padding: 34px 0 33px;
            display: inline-block;

            @include tablet {
               padding: 34px 0 33px;
                display: inline-block;
                margin-right: 20px;
            }

            @include mobile {
               display: none;
                padding: 4px 0;
            }

            &__row{
                display: inline-block;
            }
            &__list{
                font-size: $font-size-nav;
                display: inline-block;
                padding: 10px 20px;
                letter-spacing: 1px;
                text-transform: uppercase;
                border-right: solid 1px $color-porcelain;

                &:last-child{
                    border-right: none;
                }

                a{
                font-weight: $font-weight-bold;
                position: relative;
                padding-bottom: 10px;
                text-decoration: none;
                color: $color-slate;
                &:hover{
                    color: $color-teal;
                }
                &:before{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    visibility: hidden;
                    width: 100%;
                    height: 2px;
                    content: '';
                    @include transition-property(all);
                    @include transition-duration(.3s);
                    @include transition-timing-function(ease-in-out);
                    @include transform (scaleX(0));
                    background-color: $color-teal;
                    }
                    &:hover:before{
                        visibility: visible;
                        @include transform (scaleX(1));
                    } // &:hover:before
                } //a
            } // _list

        } // .nav
        
         &.sticky {
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 100;
            border-top: 0;
            @include alpha-background-color(rgba(white, 0.9), white);
        }

        .is-visible{
            visibility: visible;
            opacity: 1;
        }
    } // .header-nav-wrapper
} // 

/* ======================
Header
 */
header.hero{
    position: relative;
    height: 500px;
    overflow: hidden;
    
    .cell{
        background-position: center top;
        background-size: cover;
         height: 500px;
    }
    
    .hero-bg{
         background: linear-gradient(to bottom, rgba(65, 74, 85, 1), rgba(0, 0, 0, 0))
        
    }
    .col{
        width: 90%;
        margin:0 auto;
        padding: 6% 0;
    }
    
    .hero-bg{
        .hero-intro-text{
            margin-top: 60px;
            padding-top: 25px;
            text-align: center;
            border-top: solid 1px rgba($color-white, .25);
            
            p{
                font-weight: $font-weight-light;
                margin: 0;
                padding: 0;
                color: $color-white;
            }
        } // .hero-intro-text
    } // .hero-bg
    
    h1{
        margin-bottom: 40px;
        color: $color-white;
        text-align: center;
    }
    h3{
        font-weight: $font-weight-light;
        margin-bottom: 45px;
        padding: 0 25%;
        color: $color-white;
    } // &__wrapper
} // header.hero

/* ==============================================
Programs
========================================================================== */
.programs {
    width: 98%;
    margin: 0 auto;
    padding-left: .5%;
    padding-top:140px;
    
    &__col{
        width: 24.5%;
        display: inline-block;
        margin: 0;
        overflow: hidden;
        padding: 0;

         @include tablet{
            width: 24.5%;
            }
         @include mobile{
             width:100%;
            } 
    } // &__col{
    
    &__item{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 300px;
        @include transition-property(all);
        @include transition-duration(.5s);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100% ;
        
        figure{
            display: table;
            height: 100%;
            
            figcaption{
                display: table-cell;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                p{
                    padding: 15px 15px 25px;
                    color: $color-white;
                }
                a{
                    color: rgba($color-white, .7);
                    
                    &:hover{
                        color: rgba($color-white, 1);
                    }
                } // a
            } // figcaption
            
            &:hover .overlay{
                opacity: 1;
                
                
            } // &:hover .overlay
        } // figure
        h2{
            font-size: $font-size-base;
            font-weight: $font-weight-semibold;
            line-height: 20px;
            text-transform: uppercase;
            color: $color-white;
        }
        
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            min-width: 100%;
            height: auto;
            min-height: 100%;
            margin: 0;
            padding: 0;
            @include transition-property(all);
            @include transition-duration(.3s);
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
        .overlay{
            z-index: 99;
            width: 100%;
            height: 100%;
            @include transition-property(all);
            @include transition-duration(.3s);
            opacity: 0;
            background-color: rgba($color-teal, .8);
        }
        
        &:hover{
               background-size: auto 110% ;
        }
    } // article.program
} //.programs


.skillset{
    width: 97%;
    margin: 0px auto ;
    padding-left: .5%;
    padding-top: 110px;
    
    .col{
        width: 49%;
        display: inline-block;
        margin: 0;
        overflow: hidden;
        padding: 0;

        @include mobile {
          width: 100%;
        }

         &:last-child{
             margin-left: 1%;
         }
    } // .col
    
    .bar-chart-wrapper {
        position: relative;
        margin-bottom: 35px;
        }
    
    .bar-wrapper{
        background-color: $color-slate;
        
        .bar {
            height: 10px;
            margin: 10px 0;
            background-color: $color-teal;
        }
    } // .bar-wrapper
    
    .bar-chart-figure {
        float: right;
    }
    
    .push-right {
        position: absolute;
        top: 0;
        right: 0;
    }
} // .skillset


/* ==========================================================================
Footer
========================================================================== */
.footer{
    p{
        font-size: $font-size-footer;
        color: $color-white;
        
    }
    
    ul{
        li{
            font-size: $font-size-footer;
            text-align: center;
            color: $color-white;
            i{
                margin-right: 5px;
            }
            a{
                color: $color-white;
                &:hover
                {
                    color: $color-teal;
                }
            }
        } // li
    } // ul
    
   
    &__nav{
        padding-top: 40px;
        border-top: solid 1px rgba($color-white, .15);
        ul.footer-primary-nav{
            display: inline-block;

            margin-bottom: 30px;
            li
            {
                display: inline-block;

                margin-right: 50px;
                &:last-child
                {
                    margin-right: 0;
                }
            }
        }
        
        ul.footer-share{
            display: inline-block;
            float: right;
            
            > li{
                display: inline-block;

                margin-right: 50px;
                &:last-child
                {
                    margin-right: 0;
                }
            } //> li
        } // ul.footer-share
        
       
    } // .footer-nav
} // footer 

.item4{
    @include clearfix;
}
