// Buttons partial
@import "partials/colors";
@import "partials/typography";


a.text-link {
    color: $color-white;
    margin-left: 30px;
    display: inline-block;
    font-size: $font-size-button;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:focus {
        color: $color-white;
        
    }
    &:after {
        font-family: FontAwesome;
        content: "\f105";
        opacity: 0;
        @include transition-property(all);
        @include transition-duration(.3s);
    }
    &:hover {
        color: $color-white;
        &:after {
            opacity: 1;
            margin-left: 10px;
        }
    }
}

.btn.primary {
    display: inline-block;
    font-size: $font-size-button;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-teal;
    padding: 20px;
    text-decoration: none;
    line-height: 1;
    &:hover {
        background-color: $color-dark-teal;
    }
}
.btn.secondary {
    display: inline-block;
    font-size: $font-size-button;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-teal;
    border: 2px solid $color-teal;
    padding: 15px 20px;
    text-decoration: none;
    line-height: 1;
    &:hover {
        color: $color-white;
        background-color: $color-dark-teal;
        border-color: $color-dark-teal;
    }
    &:focus {
        color: $color-white;
        background-color: $color-teal;
        border-color: $color-teal;
    }
}

.view-more {
    margin-top: 70px;
}