// Typography partial

@import 'partials/colors'; // Fonts
$font-family-sans-serif: Raleway, Verdana, Arial, sans-serif;
$font-family-serif: Montserrat, Georgia, 'Times New Roman', serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-strong: 700; 
$font-style-italic: italic; 
// Headings
$font-size-h1: 45px;
$font-size-h2: 36px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-h5: 18px; 
$font-size-base: 15px;
$font-size-footer: 14px;
$font-size-nav: 13px;
$font-size-search-input: 13px;
$font-size-tag: 13px;
$font-size-smalltext: 13px;
$font-size-button: 13px; 
$text-line-height-h1: 68px;
$text-line-height: 27px;
$line-height-article-header: 30px; // Styles

/* ==========================================================================
Typography
========================================================================== */

p
{
    font-size: $font-size-base;
    line-height: $text-line-height;

    padding-bottom: 15px;

    color: $color-slate;
}
h1
{
    font-size: $font-size-h1;
    font-weight: $font-weight-light;
    line-height: $text-line-height-h1;
}
h2
{
    font-size: $font-size-h2;
    font-weight: $font-weight-light;
    color: $color-white;
}
h3
{
    font-size: $font-size-h3;
    line-height: 32px;
    margin-bottom: 20px;
    color: $color-dark-grey;
}
h4
{
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
    margin: 7px 0 65px 60px;
    text-transform: uppercase;
    &:after
    {
        display: block;
        width: 30px;
        height: 2px;
        margin-top: 15px;
        content: '';
        background-color: $color-teal;
    }
}
h5
{
    font-size: $font-size-h5;
    font-weight: $font-weight-bold;
    display: inline-block;
    text-transform: uppercase;
    color: $color-slate;
}

.text-center{
    text-align: center;
}
.bold-italic
{
    font-weight: $font-weight-bold;
    font-style: $font-style-italic;
}
