
/* ==========================================================================
Waypoints
========================================================================== */
.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6,
.wp7,
.wp8,
.wp9,
.wp10{
    visibility: hidden;
}
.wp1{
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}
.wp2{
    -webkit-animation-delay: .8s;
            animation-delay: .8s;
}
.wp3{
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.bounceInLeft,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUpD,
.fadeInLeft,
.fadeInRight,
.bounceInDown,
.fadeIn{
    visibility: visible;
}